@import url(http://fonts.googleapis.com/css?family=Rajdhani|Rubik+Mono+One);
.notice {
  color: red;
}
.card {
  border-radius: 8px;
  border-style: outset;
  border-color: #7EA1E3;
  background-color: #DFF2FF;
  padding: 5%;
  padding-bottom: 7%;
  margin-bottom: 3%;
}

.card h2{
  padding: 3%;
  font-size: 1.7em;
  text-align: center;
  font-family: 'Rubik Mono One', sans-serif;
}

.card h1{
  padding-bottom: .5%;
  font-size: 1.3em;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
}

label {
  font-family: 'Rajdhani', sans-serif;
  text-align: center;
}

.logo img{
  text-align: center;
  width: 90%;
}


.card blockquote {
  font-size: 2em;
  font-family: 'Rajdhani', sans-serif;
}

.username {
  font-family: 'Rubik Mono One', sans-serif;
}


body {
  background: #0F1221;
}

.navbar {
  background: #5672A2;
  margin-bottom: 5%;
  padding: 2%;
  border-style: outset;
  border-radius: 8px;
  border-color: #303F5E;
  text-align: left;
}

.twit-button {
  float: right 3px;
}
