<div class='container'>
  <form method="post" action="">
    Email:<br>
    <input type="text" name="email">
    <br>
    Password:<br>
    <input type="password" name="password">

    <br>
    <input type="submit">

    <br>
    <br>
    <a href="/users/new">Click here to sign up</a>
  </form>

</div>
