<div class='container'>
  <form method="post" action="/users">
    Name:<br>
    <input type="text" name="name">
    <br>

    Email:<br>
    <input type="text" name="email">
    <br>
    Password:<br>
    <input type="password" name="password">

    <br>
    <input type="submit">

    <br>
    <br>
  </form>
</div>
